@import "tailwindcss";
@plugin "@tailwindcss/typography";


@layer components {
  .prose {
    figure { text-align: center; }
    img { margin-inline: auto; }
    blockquote {
      p {
        &:first-of-type::before,
        &:last-of-type::after {
          display: none;
        }
      }
    }
  }
}
